

@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var session = (UserLogin)Session[BTL_ASP.NET_NHOM_5.Common.CommonConstants.USER_SESSION];

}

<div class="container" style="padding-top: 30px;">
    <div class="row">
        @{ Html.RenderAction("userManager", "User");}
        <div class="col-xs-12 col-lg-9 col-md-9 col-sm-9 profileRight">
            <div class="ctrl-wrapper">
                <div id="profileContent">
                    <div id="profileIf">
                        @using (Html.BeginForm("changepassword", "User", FormMethod.Post, new { @class = "f" }))
                        {
                            @Html.AntiForgeryToken()
                            <ul>
                                <li> @Html.ValidationSummary(true, "", new { @class = "text-danger" })</li>
                                <li><label for="oldpassword" class="required"><span>*</span> Mật khẩu cũ:</label><input name="oldpassword" type="password" class="tb validate[required],minSize[6]" id="oldpassword" value="" data-prompt-position="centerRight"></li>
                                <li><label for="newpassword" class="required"><span>*</span> Mật khẩu mới:</label><input name="newpassword" type="password" class="tb validate[required],minSize[6]" id="newpassword" value="" data-prompt-position="centerRight"></li>
                                <li><label for="repassword" class="required"><span>*</span> Nhập lại mật khẩu mới:</label><input name="repassword" type="password" class="tb validate[required],minSize[6],equals[newpassword]" id="repassword" value="" data-prompt-position="centerRight"></li>
                                <li class="btns"><input name="submit" type="submit" id="btnSubmit" class="htmlBtn first" value="Xác nhận" data-prompt-position="centerRight"></li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



