@{
    var session = (UserLogin)Session[BTL_ASP.NET_NHOM_5.Common.CommonConstants.USER_SESSION];
    var seCart = (List<BTL_ASP.NET_NHOM_5.Models.CartItem>)Session[BTL_ASP.NET_NHOM_5.Common.CommonConstants.CartSession];


}
<!DOCTYPE html>
<html lang="vi-VN">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Siêu Thị Trực Tuyến TrueMart</title>
    <meta property="og:image" content="https://storage.googleapis.com/cdn.nhanh.vn/store/8073/store_1539333059_242.png">
    <meta name="keywords" content="Siêu Thị Trực Tuyến TrueMart">
    <meta name="description" content="Siêu Thị Trực Tuyến TrueMart">
    <meta property="og:title" content="Siêu Thị Trực Tuyến TrueMart">
    <meta name="DC.language" content="scheme=utf-8 content=vi">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta property="fb:app_id" content="1026682104124855">
    <link rel="stylesheet" href="https://truemart.vn/tp/T0199/css/skins/orange.css" type="text/css">
    <link href="~/Home/Index" rel="canonical">
    <link href="https://truemart.vn/min/?f=20210815_01_L2pzL2NvdW50ZG93bi9jb3VudGRvd24uY3NzLC9qcy9jb3VudGRvd24vY291bnRkb3duQ3VzdG9tLmNzcw==/"
          media="screen" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://storage.googleapis.com/cdn.nhanh.vn/store/8073/favicon_1611134867_logo truemartmoi.png"
          rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link rel="preload" href="~/Assets/client/css/style.css" as="style">
    <link rel="stylesheet" href="~/Assets/client/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/admin/css/font-awesome.min.css">
    <link href="~/Assets/client/css/css_menu.css" rel="stylesheet" />
    <style type="text/css">
        .tp_product_detail .tp_product_detail_related {
            display: block !important
        }

        .tp_product_detail .tp_product_detail_suggest {
            display: block !important
        }

        .tp_product_detail .tp_product_detail_suggest {
            display: block !important
        }

        .tp_product_detail .tp_product_detail_history {
            display: block !important
        }

        .tp_product_detail .tp_product_detail_tag {
            display: block !important
        }

        .tp_product_detail .tp_product_detail_comment {
            display: block !important
        }

        .tp_product_detail .tp_product_detail_video {
            display: block !important
        }

        .tp_product_category .tp_product_category_filter_attribute {
            display: block !important
        }

        .tp_product_category .tp_product_category_filter_brand {
            display: block !important
        }

        .tp_product_category .tp_product_category_filter_category {
            display: block !important
        }

        .tp_product_category .tp_product_category_filter_price {
            display: block !important
        }
    </style>
    <style type="text/css">
        img {
            max-width: 100%;
        }

            img.lazyload {
                opacity: 0.001;
                object-fit: scale-down !important;
            }

        .fb-customerchat > span > iframe.fb_customer_chat_bounce_out_v2 {
            max-height: 0 !important;
        }

        .fb-customerchat > span > iframe.fb_customer_chat_bounce_in_v2 {
            max-height: calc(100% - 80px) !important;
        }
    </style>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PHWMXT8');
    </script>
    <link rel="preload" href="https://truemart.vn/T0/tp199/font/font.css" as="style" media="all"
          onload="this.onload=null;this.rel='stylesheet'">
</head>

<body class=" tp_background tp_text_color">
    <header id="header_chir" class="bg_w headerContainer tp_header">
        <section id="chir_top_bar" class="hidden-xs">
            <div class="main">
                <div class="container">
                    <ul>
                        <li>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>

                            <span>
                                CS1: N5D, Nguyễn Thị Thập, Thanh Xuân, HN; CS2: 974 Trường Sa, P12, Q3,
                                HCM
                            </span>
                        </li>
                        <li>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>sales@hexagon.vn</span>
                        </li>
                        <li class="language-box"></li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="main_header">
            <div class="container">
                <div class="row">
                    <div id="chir_logo" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="tool_bar_menu visible-xs visible-sm">
                            <a href="javascript:void(0)">
                                <span class="open-menu"></span>
                            </a>
                        </div>
                        <div id="box-vertical-megamenus" class="menuFix">
                            <div class="box-vertical-megamenus">
                                <h4 class="title">
                                    <span class="btn-open-mobile home-page tp_title">
                                        <i class="fa fa-bars"></i>
                                    </span>
                                    <span class="title-menu tp_title">Danh mục</span>
                                </h4>
                            </div>
                        </div>
                        <p>
                            <a href="~/Home/Index" title="Logo" class="logoHome">
                                <img src="https://storage.googleapis.com/cdn.nhanh.vn/store/8073/store_1539333059_242.png"
                                     alt="Logo">
                            </a>
                        </p>
                    </div>
                    <div id="chir_search_head" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="chir_frm">
                            <form id="frm_search_head" action="~/Home/Search" method="get">
                                <i class="fa fa-search"></i>
                                <input id="txt_Keyword" required="" type="text" class="txtSearch" name="q"
                                       placeholder="Tìm kiếm...">
                                <button type="submit" class="chir_btn_sub tp_button">
                                    <label for="txt_Keyword">Tìm kiếm</label>
                                </button>

                                <div id="searchFolding"></div>
                            </form>
                        </div>
                        <ul class="chir_autocomplete">
                            <li class="title"><strong>Gợi ý từ khóa:</strong></li>
                            <li><span>Thời trang nam, Thời trang nữ, Balo, túi xách, Mè và bé...</span></li>
                        </ul>
                    </div>
                    <div id="chir_search_head"
                         class="col-lg-3 col-md-3 col-sm-6 col-xs-12 hidden-sm hidden-xs fr scroll-down2">
                        <div class="row control-box">
                            <ul class="ul-control-box">
                              
                                    <li class="top-hotline">
                                        <a rel="nofollow" href="/Order/DanhSachDonHang"
                                           title="Tra cứu đơn hàng">
                                            <span class="div-user-control control-4">
                                                <img data-sizes="auto" class="lazyload"
                                                     src="https://truemart.vn/img/lazyLoading.gif"
                                                     data-src="https://truemart.vn/tp/T0199/img/find_cart-512.png"
                                                     alt="searchorder">
                                            </span>
                                            <span class="info">Tra cứu đơn hàng</span>
                                        </a>
                                    </li>
                                    <li class="top-cart-block ">
                                        <a rel="nofollow" href="/gio-hang" class="open-cart-popup"
                                           title="Giỏ hàng">
                                            <span class="div-user-control control-4" id="cartItemsCount">
                                                <i class="fal fa-shopping-cart" style="font-size:30px;margin-right:20px;"></i>
                                            </span>
                                            <span class="info">Giỏ hàng</span>
                                            @if (seCart == null)
                                            {
                                                <span id="count_Cart" class="header-cart-count CartCount">0</span>
                                            }
                                            else
                                            {
                                                var t = 0;
                                                foreach (var item in seCart)
                                                {
                                                    t += item.Quantity;
                                                }
                                                <span id="count_Cart" class="header-cart-count CartCount">@t</span>
                                            }

                                        </a>
                                    </li>
                                
                                @if (session == null)
                                {
                                    <li class="dropdown " id="segment_user_do_login">
                                        <a class="info" data-toggle="dropdown" role="button" aria-haspopup="true"
                                           aria-expanded="false">
                                            <div class="div-user-control control-2"><i class="fal fa-user-circle" style="font-size:30px;"></i></div>
                                            <span> Tài khoản </span>
                                        </a>

                                        <ul class="dropdown-menu info-user" aria-labelledby="dLabel">

                                            <li class="info">

                                                <a rel="nofollow"
                                                   href="~/User/Login" class="login">
                                                    <i class="fa fa-sign-in" aria-hidden="true"></i> Đăng nhập
                                                </a>
                                            </li>
                                            <li class="info">
                                                <a rel="nofollow"
                                                   href="~/User/Register">
                                                    <i class="fa fa-registered" aria-hidden="true"></i> Đăng ký
                                                </a>
                                            </li>
                                            <li class="info info-social social_fb">
                                                <a href="#">
                                                    <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
                                                </a>
                                            </li>
                                            <li class="info info-social">
                                                <a href="#">
                                                    <i class="fa fa-google-plus" aria-hidden="true"></i> Google
                                                    Plus
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li class="dropdown  open" id="segment_user_do_login">
                                        <a class="info" data-toggle="dropdown" role="button" aria-haspopup="true"
                                           aria-expanded="false">
                                            <div class="div-user-control control-2"></div>
                                            <span> Tài khoản </span>
                                        </a><ul class="dropdown-menu info-user" aria-labelledby="dLabel"><li class="info"><a rel="nofollow" href="/User/QuanLyTaiKhoan"><i class="fa fa-user" aria-hidden="true"></i>  Xin chào @session.UserName</a></li><li class="info"><a rel="nofollow" href="/User/Logout"><i class="fa fa-sign-in" aria-hidden="true"></i> Thoát</a></li></ul>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <nav id="chir_main_menu" class="hidden-sm hidden-xs tp_menu">
        <div class="main tp_menu">
            <div class="container">
                <div class="navar_menu">
                    <ul class="nav nav-navbar" itemscope
                        itemtype="https://www.schema.org/SiteNavigationElement">
                        <li class="tp_menu_item ">
                            <a target="_self" href="~/Home/Index" title="Trang chủ"
                               class="tp_menu_item">Trang chủ</a><span class="label_icon no_label"></span>
                        </li>
                        <li class="tp_menu_item has_c ">
                            <a href="/Home/ViewTerms"
                               title="Về True Mart" class="tp_menu_item">Về True Mart</a><span class="label_icon no_label"></span>
                            <div class="menu_lv_2">
                                <ul>
                                    <li class="">
                                        <a href="/Home/ViewTerms">
                                            Điều khoản
                                            dịch vụ
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="tp_menu_item has_c ">
                            <a href="/Home/ViewPosts"
                               title="Chăm sóc da" class="tp_menu_item">Chăm sóc da</a><span class="label_icon no_label"></span>
                            <div class="menu_lv_2">
                                <ul>
                                    <li class="">
                                        <a href="/Home/ViewPosts">
                                            Dưỡng
                                            trắng da
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/Home/ViewPosts">
                                            Review
                                            sản phẩm chăm sóc da
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/Home/ViewPosts" ">
                                            Chống lão
                                            hóa da
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/Home/ViewPosts">
                                            Cách trị
                                            mụn
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="tp_menu_item has_c ">
                            <a href="/Home/ViewPosts"
                               title="Khỏe đẹp" class="tp_menu_item">Khỏe đẹp</a><span class="label_icon no_label"></span>
                            <div class="menu_lv_2">
                                <ul>
                                    <li class="">
                                        <a href="/Home/ViewPosts">
                                            Kinh
                                            nghiệm làm đẹp
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/Home/ViewPosts">
                                            Vệ
                                            sinh phụ nữ & Hỗ trợ tình dục
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="tp_menu_item  ">
                            <a href="/Home/ViewPosts"
                               title="Chăm sóc tóc" class="tp_menu_item">Chăm sóc tóc</a><span class="label_icon no_label"></span>
                        </li>
                        <li class="tp_menu_item  ">
                            <a href="/Home/ViewPosts"
                               title="Tư vấn - Hướng dẫn" class="tp_menu_item">Tư vấn - Hướng dẫn</a><span class="label_icon no_label"></span>
                        </li>
                        <li class="tp_menu_item ">
                            <a target="_self" href="/Home/ViewPosts"
                               title="Khuyến mại" class="tp_menu_item">Khuyến mại</a><span class="label_icon no_label"></span>
                        </li>
                        <li class="tp_menu_item ">
                            <a target="_self" href="/Home/viewCode"
                               title="Affiliate - Mã Giới Thiệu" class="tp_menu_item">
                                Affiliate - Mã Giới
                                Thiệu
                            </a><span class="label_icon no_label"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="after-height"></div>

    <h1 hidden>Siêu Thị Trực Tuyến TrueMart</h1>


    <section id="slider" class="bg_w">
        @RenderBody()
    </section>
    <div id="dialogMessage"></div>
    <footer id="footer_chir" class="tp_footer">
        <section id="footer_top" class="tp_footer">
            <div class="container">
                <div class="footer_newsletter text-center">
                    <h3><i class="fa fa-envelope"></i> Cập nhật thông tin khuyến mãi nhanh nhất</h3>
                    <div class="frm_new">
                        <div class="contact-form">
                            <p class="footer_form">
                                <input id="contactFormEmail" name="contact[email]" type="email"
                                       placeholder="Đăng ký email" required="required" />
                                <button class="le-button tp_button">
                                    <label for="contactFormEmail">
                                        Đăng ký
                                    </label>
                                </button>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="footer_promotion" class="bg_w ">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6 item_policy">
                        <div class="info_policy clearfix">
                            <span class="name-icon pull-left fa fa-money"></span>
                            <div class="description pull-left">
                                <h4>CAM KẾT CHÍNH HÃNG</h4>
                                <p>Đảm bảo chất lượng 100%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 item_policy">
                        <div class="info_policy clearfix">
                            <span class="name-icon pull-left fa fa-smile-o"></span>
                            <div class="description pull-left">
                                <h4>HỖ TRỢ TƯ VẤN</h4>
                                <p>Thứ 2-Thứ 7 : 08g30 - 17g30</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 item_policy">
                        <div class="info_policy clearfix">
                            <span class="name-icon pull-left fa fa-phone"></span>
                            <div class="description pull-left">
                                <h4>098 141 2016</h4>
                                <p>Đặt hàng ngay</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="footer_main" class="tp_footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 footer-left">
                        <div class="fi-about-block grid__item footer-new">
                            <div class="fi-title1 insScroll logo_custom">
                                <a href="~/Home/Index" title="Logo">
                                    <img data-sizes="auto" class="lazyload"
                                         src="https://truemart.vn/img/lazyLoading.gif"
                                         data-src="https://storage.googleapis.com/cdn.nhanh.vn/store/8073/store_1539333059_242.png"
                                         alt="Logo">
                                </a>
                            </div>
                            <div class="fi-content" style="text-align:justify;">
                                <p>
                                    Truemart.vn là chuyên trang cung cấp các sản phẩm chính hãng với đầy đủ các loại
                                    sản phẩm từ thời trang cho đến đồ dùng gia đình, đồ dùng cá nhân, mẹ và bé, nội
                                    thất... Với các thương hiệu nổi tiếng được nhập khẩu từ nhiều nước trên thế
                                    giới.
                                </p>
                                <p style="text-align:center;">
                                    <a href="#">
                                        <img alt=""
                                             src="https://cdn.nhanh.vn/cdn/website/template/381/contentKey/2574/20150827110756_dathongbao.png"
                                             style="width:150px;height:57px;float:left;" />
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12 footer-right">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6  newfooter">
                            <div class="fi-title">Về chúng tôi</div>
                            <div class="fi-content">
                                <ul>
                                    <li><a href="~/Home/Index" title="Trang chủ"><span>Trang chủ</span></a></li>
                                    <li><a href="~/Home/Index" title="Sản phẩm"><span>Sản phẩm</span></a></li>
                                    <li>
                                        <a href="~/Home/Index" title="Khuyến mãi HOT"><span>Khuyến mãi HOT</span></a>
                                    </li>
                                    <li><a href="~/Home/Index" title="Flash sale"><span>Flash sale</span></a></li>
                                    <li><a href="~/Home/Index" title="Thương hiệu"><span>Thương hiệu</span></a></li>
                                    <li><a href="~/Home/Index" title="Tin tức"><span>Tin tức</span></a></li>
                                    <li><a href="~/Home/Index" title="Giới thiệu"><span>Giới thiệu</span></a></li>
                                    <li><a href="~/Home/Index" title="Liên hệ"><span>Liên hệ</span></a></li>
                                </ul>
                                <p>
                                    <a class="dmca-badge"
                                       href="https://www.dmca.com/Protection/Status.aspx?ID=799d7603-0ee7-4ad9-92a9-6aa43a4c1386"
                                       title="DMCA.com Protection Status">
                                        <img alt="DMCA.com Protection Status"
                                             src="https://cdn.nhanh.vn/cdn/website/template/381/contentKey/2111/_dmca_premi_badge_4.png"
                                             style="height:28px;width:135px;" />
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6  newfooter">
                            <div class="fi-title">Hướng dẫn</div>
                            <div class="fi-content">
                                <ul>
                                    <li><a href="~/Home/Index" title="Trang chủ"><span>Trang chủ</span></a></li>
                                    <li>
                                        <a href="/Home/ViewPosts">
                                            Chính
                                            sách bảo trì
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Home/ViewPosts">
                                            Chính
                                            sách & Quy định chung
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Home/ViewPosts">
                                            Chính
                                            sách bảo mật
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Home/ViewPosts">
                                            Chính
                                            sách đổi trả và hoàn tiền
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Quy
                                            định và hình thức thanh toán
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Điều khoản dịch
                                            vụ
                                        </a>
                                    </li>
                                </ul>
                                <p></p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6  newfooter">
                            <div class="fi-title">Thông tin</div>
                            <div class="fi-content">
                                <ul>
                                    <li>
                                        <a href="~/Home/Index" title="Trang chủ"><span>Trang chủ</span></a>
                                    </li>
                                    <li>
                                        <a href="~/Home/Index" title="Sản phẩm"><span>Sản phẩm</span></a>
                                    </li>
                                    <li>
                                        <a href="~/Home/Index" title="Khuyến mãi HOT"><span>Khuyến mãi HOT</span></a>
                                    </li>
                                    <li>
                                        <a href="~/Home/Index" title="Flash sale"><span>Flash sale</span></a>
                                    </li>
                                    <li>
                                        <a href="~/Home/Index" title="Thương hiệu"><span>Thương hiệu</span></a>
                                    </li>
                                    <li>
                                        <a href="~/Home/Index" title="Tin tức"><span>Tin tức</span></a>
                                    </li>
                                    <li>
                                        <a href="~/Home/Index" title="Giới thiệu"><span>Giới thiệu</span></a>
                                    </li>
                                    <li>
                                        <a href="~/Home/Index" title="Liên hệ"><span>Liên hệ</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6  newfooter">
                            <div class="fi-title">Thông tin</div>
                            <div class="fi-content">
                                <div class="fb-page" data-width="196"
                                     data-href="https://www.facebook.com/truemart.vn" data-tabs="timeline"
                                     data-height="215" data-small-header="false" data-adapt-container-width="true"
                                     data-hide-cover="false" data-show-facepile="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="footer_bottom" class="bg_w">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-12 col-xs-12 bot-info">
                        <div class="bot-ft clearfix insScroll">
                            <div class="copy">
                                <p>
                                    <strong>CÔNG TY TNHH CÔNG NGHỆ HEXAGON</strong><br />
                                    SĐKKD: 0107470907. Được cấp bởi: Sở Kế hoạch và Đầu tư TP. Hà Nội<br />
                                    Địa chỉ: Số 114 Mễ Trì Hạ, P. Mễ Trì, Q. Nam Từ Liêm, Tp. Hà Nội.<br />
                                    VPĐD Hà Nội: N5D, Nguyễn Thị Thập, Nhân Chính, Thanh Xuân, Hà Nội<br />
                                    VPĐD Hồ Chí Minh: Lô C, 974 Trường Sa, Phường 12, Quận 3, Hồ Chí Minh
                                </p>
                                <p>© 2016 Bản quyền thuộc về <strong>CÔNG TY TNHH CÔNG NGHỆ HEXAGON</strong></p>
                            </div>
                            <div class="logo-ft-1"></div>
                        </div>
                    </div>
                    <div class="col-md-3 hidden-xs hidden-sm ft_payment">
                        <div class="fi-content insScroll">
                            <ul class="ftSocial">
                                <li>
                                    <a href="https://www.facebook.com/truemart.vn" target="_blank"
                                       title="FACEBOOK"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer><input id="minPrice" value="100000" type="hidden">
    <input id="maxPrice" value="5000000" type="hidden">

    <div class="fix-conten">
        <div class="fixedItem backtop">
            <a href="javascript:void(0)">
                <img src="https://truemart.vn/tp/T0199/img/temp/backtop.png"
                     alt="Back to top" />
            </a>
        </div>
        <div class="fixedItem cart">
            <a href="/gio-hang">
                <img src="https://truemart.vn/tp/T0199/img/temp/cart-icon.png"
                     alt="Giỏ hàng" />
            </a>
        </div>
    </div>
    <link rel="preload"
          href="~/Assets/client/js/messages.js"
          as="script">
    <script type="text/javascript"
            src="~/Assets/client/js/messages.js">
    </script>
    <script type="text/javascript"
            src="~/Assets/client/js/KineticJS.js">
    </script>
    <script id="fbChat" defer>
        $(window).load(function () {
            function load_fb_chat() {
                window.fbAsyncInit = function () {
                    FB.init({
                        appId: '.&appId=1026682104124855.',
                        autoLogAppEvents: true,
                        xfbml: true,
                        version: 'v9.0'
                    });
                };

                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));

            };
            window.setTimeout(load_fb_chat, 8000);
        })
    </script>
    <script src="https://truemart.vn/js/lazyLoad/lazysizes.min.js" async=""></script>
    <script src="https://truemart.vn/cdn/_cache/location.vn.js" async=""></script>
    <meta name="google-site-verification" content="PS9re88IYsB1BmAy7wGjRPrTJSq6EzFqrx7JxRyxKks" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1039316393232962",
            enable_page_level_ads: true
        });
    </script>
    <script type="text/javascript">
        (function (w, d, s, id, src) {
            if (d.getElementById(id)) return;
            var js, fjs = d.getElementsByTagName(s)[0];
            js = d.createElement(s);
            js.id = id;
            js.src = src;
            fjs.parentNode.insertBefore(js, fjs);
        })(window, document, 'script', 'ecomfit-sdk',
            'https://tracking.ecomfit.com/tracking.min.js#v=280518&webId=PzEy3ybuBoxKsW9FH');
    </script>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PHWMXT8" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script id="autoAdsMaxLead-widget-script" src="https://cdn.autoads.asia/scripts/autoads-maxlead-widget.js?business_id=FEC6D367FD87415EAD3433929C975D05" type="text/javascript" charset="UTF-8" async></script>
    <link rel="stylesheet" href="https://truemart.vn/min/?f=20210815_07_L2Nzcy9za2luLmNzcw==/" type="text/css">
    <style type="text/css">
        #settingSkins {
            left: -40px;
        }
    </style>
    <div class="col-sm-12 col-xs-12 cpr desFooter" style="display: none">
        <p data-runtime="Memory:4,1 mb - Time:0,05s" class="designBy"
           style="font-weight:bold;color:#333;text-align:center;margin:10px auto 0;font-size: 13px;display: inline-block;">
            Thiết kế web bởi <img src="https://truemart.vn/images/favicon.ico" alt="Thiết kế web bởi NHANH.VN"
                                  title="Thiết kế web bởi NHANH.VN" />
            <a rel="nofollow" style="margin-top:5px;display:inline-block;font-size: 13px;" class="logo"
               href="https://nhanh.vn" target="_blank">Nhanh.vn</a>
        </p>
        <p style="display: inline-block;padding-left: 20px;"></p>
    </div>
    <script>
        var storeId = $('.checkStoreId').val();
        PS_PARENT_ROOT = -2;
        if (in_array(storeId, [55817])) {
            jQuery('.home-category-tab').owlCarousel({
                items: 4,
                loop: true,
                autoplay: true,
                autoplayTimeout: 4000,
                margin: 0,
                responsiveClass: true,
                nav: true,
                navText: ['‹', '›'],
                responsive: {
                    0: {
                        items: 1
                    },
                    320: {
                        items: 2
                    },
                    480: {
                        items: 2
                    },
                    768: {
                        items: 3
                    },
                    992: {
                        items: 4
                    }
                }
            });
        } else if (in_array(storeId, [20446, 26181, 67367])) {
            jQuery('.home-category-tab').owlCarousel({
                items: 4,
                loop: false,
                autoplay: false,
                margin: 0,
                responsiveClass: true,
                nav: true,
                navText: ['‹', '›'],
                responsive: {
                    0: {
                        items: 2
                    },
                    320: {
                        items: 2
                    },
                    480: {
                        items: 4
                    },
                    768: {
                        items: 4
                    },
                    992: {
                        items: 4
                    }
                }
            });
        } else if (in_array(storeId, [74720, 11055])) {
            jQuery('.home-category-tab').owlCarousel({
                items: 4,
                loop: false,
                autoplay: false,
                margin: 0,
                responsiveClass: true,
                nav: true,
                navText: ['‹', '›'],
                responsive: {
                    0: {
                        items: 2
                    },
                    320: {
                        items: 2
                    },
                    480: {
                        items: 3
                    },
                    768: {
                        items: 3
                    },
                    992: {
                        items: 3
                    }
                }
            });
        } else {
            jQuery('.home-category-tab').owlCarousel({
                items: 4,
                loop: false,
                autoplay: false,
                margin: 0,
                responsiveClass: true,
                nav: true,
                navText: ['‹', '›'],
                responsive: {
                    0: {
                        items: 2
                    },
                    320: {
                        items: 2
                    },
                    480: {
                        items: 4
                    },
                    768: {
                        items: 4
                    },
                    992: {
                        items: 5
                    }
                }
            });
        }
        if (in_array(storeId, [45589])) {
            jQuery(".cate-home").click(function () {
                $(this).find('.listChilds').slideToggle();
            });
        }
        var ps = [];
        $('.ivt').each(function () {
            var t = $(this);
            ps.push({
                storeId: storeId,
                id: t.attr('data-id')
            });
        });
        var $outStock = 'Hết hàng';
        if (in_array(storeId, [23040])) {
            $outStock = 'Liên hệ';
        }
        if (ps.length) {
            checkInventory(ps, function (rs) {
                if (rs.inventories != "") {
                    $.each(rs.inventories, function (key, vl) {
                        if (vl <= 0) {
                            $('.blockPrdCurrent .item_product[data-id="' + key + '"]')
                                .append('<span class="outstock">' + $outStock +
                                    '</span>');
                        }
                        if (in_array(storeId, [76236])) {
                            if (vl > 0) {
                                $('.item_product[data-id="' + key +
                                    '"] .product-detail .pro-price').append(
                                        '<small class="inventory" style="font-size: 11px;float: right;">Còn <b>' +
                                        vl + '</b> sp</small>');
                            }
                        }
                    });
                }
            });
        }
        $('.product_tabs_slide .quick_views').click(function (e) {
            e.preventDefault();
            quickview($(this).attr('rel'));
        });
        $('.home_block .product_tabs>ul li a').not('.see-more a').on('click', function (e) {
            e.preventDefault();
            var $this = $(this),
                $parents = $($this.attr('href'));

            $parents.find('.product_tabs ul li').not($this).removeClass('active');
            $this.parents('li').addClass('active');

            $parents.find('.resultProductsCats').append(
                '<div class="loading"><img src="https://truemart.vn/tp/T0199/img/loading.gif?2" alt="alt"></div>'
            );
            ajaxLoadView({
                view: "productsCategoryHome",
                params: "&catId=" + $this.attr('role') + '&type=' + $this.attr(
                    'data-type'),
                onSuccess: function (rs) {
                    $parents.find('.resultProductsCats').html(rs);
                    $.getScript('/tp/T0199/js/stores/32962.js?1');
                }
            });
        });
    </script>
    @RenderSection("jsFooter", required: false)
</body>

</html>